.page {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 92px 49px 92px 51px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.header__menu {
    line-height: normal;    
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    margin-left: -8px;
    position: relative;
}

.header__link_active{
    border-bottom: none;
}

.header__links-list {
    display: flex;
    column-gap: 13px;
    list-style-type: circle;
    list-style-position: inside;
}

.header__links-list-item {
    position: relative;
    margin-left: 5px;  
}

.header__link_active {
    border-bottom: none;
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style-type: none; 
    margin-left: 5px;   
}

.header__logo {    
   margin-bottom: 4px;
}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;    
}

.header__address {
    line-height: 24.3px; 
    margin-left: auto;
    display: block;
    max-width: 240px;
    font-style: normal;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    padding-top: 165px;
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: 1;
    width: 100%;
    height: 100%;
    inset: 0;
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;    
}

.aligned-text {
    display: block;  
    text-align: left;
    margin: 0px 50px;
    line-height: 115%; /* 115px */
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin: 20px 50px;
    line-height: 100%; 
}

.aligned-text_right {
    display: block;    
    text-align: right;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 100%;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    position: relative;
    z-index: 2;
    margin-top: 135px;
    white-space: nowrap;
    margin-right: 50px;
    text-align: right;
}
   
.cover__description-text {
    display: inline-block;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    word-spacing: 17px; /*подобрать по макету*/
}


.bet-button {
    all: unset;
    height: 52px;
    padding: 12px 32px;
    border: 1px solid #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-left: 78px;
    box-sizing: border-box;   
}

.lots {
    margin: 180px 50px 0px 50px;    
}

.lots__heading {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;  
    line-height: 47px; 
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 25px;
    color: #FFF;
    margin-bottom: 30px;
    row-gap: 25px;
}

.lots__card-list-item.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.lots__card-list-item.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.lots__card-list-item.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list-item {
    width: 430px;
    height: 450px;
    flex-grow: 1;
    padding: 50px 40px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.card-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__title {
   font-size: 22px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%; /* 26.4px */
   text-decoration-line: underline;
   text-transform: uppercase;
   z-index: 2;   
}
   

.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    position: relative;
    z-index: 2;
} 

.lots__look-more-link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    border-bottom: 1px solid black;
    line-height: 23px; 
}

.about { 
    margin: 181px 50px 0px 50px;
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
}

.about__logo {
    margin: 0px 95px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    justify-self: center;
    background-color: black;
    padding: 63px 46px;
}

.about__logo-image {
    width: 148px;
    height: 114px;    
}

.about__column {
    margin: 100px 0px 1px 0px;
}

.about__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    margin-top: 100px;
    gap: 25px;
    flex-direction: column;
    line-height: normal;
}

.footer {    
    margin: 180px 50px 90px 50px;
    display: grid;
    grid-template-columns: 1fr 149px 1fr;
}

.address { 
    margin-right: auto;
    display: block;
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

.link__border__bottom {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu-list {
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;    
    list-style-type: none;
    width: 240px;
    margin-left: auto;
}

.footer__social-link {
    display: block;    
}

.footer__social-icon {
    height: 48px;
}

.footer__menu-link {
    line-height: 21px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.footer__menu-link_active {
    border-bottom: none;
}